# Local eksctl.yaml and env files
eksctl.yaml
.env
UTC--*

###### ALL

node_modules/
secrets/

*.pem
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###### DEPLOY
*.tfstate
*.backup
.terraform/

charts/**/charts/
charts/**/tmpcharts/

# vercel
.vercel

.eslintcache

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Visual Studio Code
#
# node.js
#
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# CocoaPods
Pods/

yarn-error.log

# firebase ios plist
GoogleService-Info.plist

# APS Credentials
*.p12

# js Build
js/

# Bundles
*.bundle
*.bundle.map

# dSYMs
.dSYM
deployprodmicroservice.sh

icon_directory

# eslint
.eslintcache

# android for prod
*.keystore
!debug.keystore
keystore.properties

# Ruby packages
vendor/

*.zip
google-play-fastlane.json

#NextJS cache
.next/
